<!-- RECTANGLES -->

<!-- <app-canvas [shape]="'rectangle'"
            [numberOfShapes]="800"
            [colors]="['white', '#33FFE3']"
            [backgroundColor]="'#2C2C2C'"
            [width]="10"
            [height]="10"
            [dRange]="1"></app-canvas> -->







<!-- CIRCLES -->

<app-canvas [shape]="'circle'"
            [numberOfShapes]="800"
            [colors]="['white', '#33FFE3']"
            [backgroundColor]="'#2C2C2C'"
            [width]="3"
            [dRange]="1"
            [mouseRange]="300"
            [resize]="10"></app-canvas>